html {
  min-height: 100vh;
}

body {
  /* Placement */
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Appearance */
  font-family: "Liberation Sans";
  letter-spacing: 0.0175em;
  color: #2c2c2c;
  background-color: #fffcf4;
}

.invert-color {
  color: #fffcf4;
  background-color: #2c2c2c;
}

.content {
  /* Placement */
  margin-left: 2em;
  margin-right: 2em;
}

header {
  /* Placement */
  padding-top: 2em;
  padding-bottom: 1em;
  /* Appearance */
}

h1.title {
  /* Placement */
  margin-top: 0;
  margin-bottom: 0;
  /* Appearance */
  font-size: 3em;
}

hr.title {
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-color: #fffcf4;
  border-width: 0.5px;
}

h2.subtitle {
  font-weight: normal;
}

h2.section {
  font-size: 1.75em;
}

.body-copy {
  max-width: 50em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.fill {
  flex-grow: 1;
}

p {
  line-height: 1.45;
  color: black;
}

footer {
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
